<div class="bg-light mt-5">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5 class="txt-secondary">Information</h5>
          <br />
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">About Us</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Contact Us</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">News</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Store</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5 class="txt-secondary">Collections</h5>
          <br />
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Wooden Chair</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Royal Cloth Sofa</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Accent Chair</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Bed</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Hanging Lamp</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5 class="txt-secondary">My Accounts</h5>
          <br />
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">My Account</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Wishlist</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Community</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">Order History</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 txt-light">My Cart</a>
            </li>
          </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5 class="txt-secondary">Newsletter</h5>
            <p class="txt-light">
              Subscribe to get latest news,update and information.
            </p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter1"
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <button class="btn btn-m" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between border-top"
      >
        <p>© 2022 Company, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>
