$primaryColor: #e99c2e;
$SecondaryColor: #616060;
$myText-light: #a09e9c;
$Bg-color-main: #f8f9fd;



.btn-m {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
}
.btn-m:hover,
.btn-m:focus,
.btn-m:active,
.btn-m.active,
.open > .dropdown-toggle.btn-m {
  color: $primaryColor;
  background-color: $Bg-color-main;
  border-color: $primaryColor;
}

.imgHeight {
  width: 50px !important;
}
